body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 56px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.gameListContainer {
  height: 300px;
  min-width: 220px;
  margin-left: 50px;
  background-color: #FFDF7F;
  display: flex;
  flex-direction: column;
  overflowY: scroll;
}

.gameListHeader {
  align-self: stretch;
  padding: 10px;
  height: 80px;
  background-color: #DFBF5F;
}

.bottomPadding {
  padding: 5px;
}

.gameCard {
  width: 200px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  background-color: #FFC000;
}

.button {
  margin-top: 10px;
  padding: 4px;
}

.scoreTableContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 0;
  background-color: #A1B8E1;
}

.scoreCardContainer {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  background-color: #4471C4;
}

.valueContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
